.ipynb_checkpoints
past_lectures
past_notebooks
Intro_to_ML
#figures
lectures
cheatsheets
student_projects
openai.ipynb
openai.txt
Galaxy10.h5
keras_core.ipynb
keras_core_jax.ipynb
keras_core_pytorch.ipynb
